<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="searchvalue">
        <ul>
            <li v-for="(item, index) in lists" :key="item.id">
                {{item.name}}-{{item.age}}-{{item.sex}}
            </li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                searchvalue: '',
                list: [
                    { id: "001", name: "七七", age: 18, sex: "女" },
                    { id: "002", name: "刻晴", age: 19, sex: "女" },
                    { id: "003", name: "莫娜", age: 20, sex: "女" },
                    { id: "004", name: "迪卢克", age: 21, sex: "男" },
                    { id: "005", name: "琴", age: 22, sex: "女" },
                ],
                lists: []
            }
        },
        created() {
            // this.lists = this.list
            // this.search()
        },
        methods: {
            // search() {
            //     console.log(this.searchvalue);
            //     this.lists = this.list.filter(item => item.name.includes(this.searchvalue))
            // }
        },
        computed: {
            // lists() {
            //     return this.list.filter(item => item.name.includes(this.searchvalue))
            // }
        },
        watch: {
            // searchvalue:{
            //     immediate:true,
            //     handler(value){
            //         this.lists = this.list.filter(item => item.name.indexOf(value) !== -1)
            //     }
            // }
        }
    })
</script>

</html>