<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>姓：<input type="text" v-model="firstName"> </div>
        <div>名：<input type="text" v-model="lastName"> </div>
        <!-- <div>姓名： <input type="text" v-model="fullName" @input="editname"></div> -->
        <div>姓名： <input type="text" v-model="fullName"></div>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            firstName: "七",
            lastName: "七七",
            fullName: '七-七七',
        },
        computed: {
            fullName: {
                get() {
                    console.log(1);
                    // setTimeout(() => {
                    //     console.log(2);
                    // }, 1000);
                    return this.firstName + '-' + this.lastName
                },
                set(newName) {
                    let names = newName.split('-')
                    this.firstName = names[0]
                    this.lastName = names[1]
                }
            }
            // fullName() {
            //     return this.firstName + '-' + this.lastName
            // }
        },
        methods: {
            // fullNames() {
            //     // console.log(666);
            //     this.fullName = this.firstName + '-' + this.lastName
            //     return this.firstName + '-' + this.lastName
            // },
            // editname() {
            //     var names = this.fullName.split('-')
            //     this.firstName = names[0]
            //     this.lastName = names[1]
            // }
        },
        watch: {
            firstName(newName, oldValue) {
                this.fullName = newName + '-' + this.lastName
            },
            lastName(newName, oldValue) {
                this.fullName = this.firstName + '-' + newName
            },
            fullName(newName, oldValue) {
                var names = newName.split('-')
                this.firstName = names[0]
                this.lastName = names[1]
            }
        }
    })
</script>

</html>